language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-flow-io' ]; then cd .. && eval "mv $currentfolder generator-flow-io" && cd generator-flow-io; fi
after_script:
  - npm run coveralls

